.container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  border-radius: 5px;
  gap: 3rem;
  align-items: center;
  position: relative;
  height: 18rem;
  overflow: hidden;
}
.container::after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.img-container {
  position: relative;
  z-index: 1;
  width: 100%;
  align-items: center;
  img {
    object-fit: contain;
    max-width: 100%;
    border-radius: 8px;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.title {
  position: relative;
  z-index: 3;
}
.name {
  color: var(--action);
  font-size: 24px;
}
.label {
  z-index: 3;
  text-align: start;
  position: relative;
  white-space: wrap;
}
