<div class="container" (mouseleave)="mouseLeave()" (mouseover)="hover = true">
  <a class="rating-container" href="{{ link }}" target="_blank">
    <div class="rating">
      <mat-icon
        [ngClass]="{
          star: true,
          'star-half': item.rating >= 4.4 && item.rating < 5,
          'star-active': item.rating >= 5
        }"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-half': item.rating >= 3.4 && item.rating < 4,
          'star-active': item.rating >= 4
        }"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-half': item.rating >= 2.4 && item.rating < 3,
          'star-active': item.rating >= 3
        }"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-half': item.rating >= 1.4 && item.rating < 2,
          'star-active': item.rating >= 2
        }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 1 }"
        >star_rate</mat-icon
      >
    </div>
    <p class="label no-votes">From: {{ item.no_votes }} votes</p>
  </a>
  <a class="img-container" href="{{ link }}" target="_blank">
    <img class="banner" [src]="item.banner" alt="" />
  </a>
  <div class="footer">
    <a class="title" href="{{ link }}" target="_blank">
      {{ item.name }}
    </a>

    <hr />
    <a class="details" href="{{ link }}" target="_blank">
      <label class="label">start date:</label>
      <p class="text">{{ item.release_date }}</p>
      <label class="label"> category:</label>
      <p class="text">{{ item.category }}</p>

      <label class="label">languages:</label>
      <div class="languages">
        @for( language of item.languages; track item){

        <img class="language" src="{{ language }}" alt="" />
        }
      </div>
      <label class="label">max level:</label>
      <p class="text">{{ item.max_level }}</p>
      <label class="label">focus:</label>
      <p class="text">{{ item.focus }}</p>
    </a>
    <hr *ngIf="showRating" />

    <div class="rate" *ngIf="showRating">
      <label class="label show">your rating:</label>
      <mat-icon
        (click)="setRating(1)"
        [ngClass]="{
          star: true,

          'star-active': rate >= 1 || item.user_rating >= 1
        }"
        (mouseover)="rate = 1"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >

      <mat-icon
        (click)="setRating(2)"
        [ngClass]="{
          star: true,
          'star-active': rate >= 2 || item.user_rating >= 2,
        }"
        (mouseover)="rate = 2"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        (click)="setRating(3)"
        [ngClass]="{
          star: true,
          'star-active': rate >= 3 || item.user_rating >= 3
        }"
        (mouseover)="rate = 3"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        (click)="setRating(4)"
        [ngClass]="{
          star: true,

          'star-active': rate >= 4 || item.user_rating >= 4
        }"
        (mouseover)="rate = 4"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        (click)="setRating(5)"
        [ngClass]="{
          star: true,

          'star-active': rate >= 5 || item.user_rating >= 5
        }"
        (mouseover)="rate = 5"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
    </div>
  </div>
</div>
