<div class="container">
  <div class="content">
    <p class="title">Reset your password</p>

    <label for="password" class="label">new password:</label>
    <input
      [type]="inputType"
      required
      id="password"
      class="input"
      [(ngModel)]="password"
    />
    <button
      [ngClass]="{ action: true, 'action-disabled': inputType === 'password' }"
      (click)="changePasswordVisibility()"
    >
      <mat-icon class="icon">remove_red_eye</mat-icon>
    </button>

    <label for="retype" class="label">retype password:</label>
    <input
      [type]="inputType"
      required
      id="retype"
      class="input"
      [(ngModel)]="retype"
    />

    <button class="button" (click)="savePassword()">Save</button>
  </div>
</div>
