<div class="container">
  <div
    class="content"
    [@carousel-animation]="x"
    *ngFor="let server of serversList; index as i"
  >
    <a class="server" [href]="server.website" target="_blank" *ngIf="i === x">
      <div class="img-container">
        <img src="{{ server.banner }}" alt="server" />
      </div>
      <div class="content">
        <p class="title">{{ server.name }}</p>
        <p class="title">{{ server.languages }}</p>
        <p class="title">{{ server.description1 }}</p>
        <p class="title">{{ server.description2 }}</p>
      </div>
    </a>
  </div>
</div>
