<div class="container">
  <div class="content">
    <!-- <p class="title">Sign Up</p> -->
    <form [formGroup]="registerForm" class="signup-form">
      <input
        type="email"
        placeholder="Email*"
        class="input"
        formControlName="email"
      />
      <input
        type="password"
        placeholder="Password*"
        class="input password"
        formControlName="password"
      />
      <input
        type="password"
        placeholder="Retype password*"
        [pattern]="registerForm.controls.password.value"
        class="input"
        formControlName="repeatPassword"
      />
    </form>
    <button
      (click)="registerUser()"
      class="button"
      [disabled]="!registerForm.valid"
    >
      Submit
    </button>
  </div>
</div>
