<div class="container">
  <div class="content">
    <p class="title">Account info</p>
    <label for="email" class="label">email :</label>
    <input class="input" id="email" type="text" readonly [(ngModel)]="email" />

    <label for="password" class="label" *ngIf="!edit_password"
      >password :</label
    >
    <input
      *ngIf="!edit_password"
      class="input"
      id="password"
      type="password"
      readonly
      value="           "
    />
    <label for="old" class="label" *ngIf="edit_password">Old password</label>
    <input
      type="text"
      class="input old"
      placeholder="Old Password"
      id="old"
      [(ngModel)]="oldPassword"
      *ngIf="edit_password"
    />
    <label for="new" class="label" *ngIf="edit_password">New password</label>
    <input
      type="password"
      class="input old"
      id="new"
      placeholder="New Password"
      [(ngModel)]="newPassword"
      *ngIf="edit_password"
    />
    <button
      class="button"
      *ngIf="!edit_password"
      (click)="edit_password = !edit_password"
    >
      Change password
    </button>
    <div class="change-actions">
      <button
        class="button cancel"
        *ngIf="edit_password"
        (click)="edit_password = !edit_password"
      >
        Cancel
      </button>
      <button
        class="button"
        *ngIf="edit_password"
        (click)="savePassword(); edit_password = !edit_password"
      >
        Save
      </button>
    </div>
  </div>
</div>
