.container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}
.content {
  border-radius: 15px;
  background-color: var(--primary);
  gap: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  padding: 0.5rem 2rem 2rem 2rem;
}
.title {
  grid-row: 1;
  grid-column: 1/4;
}

.label {
  grid-column: 1;
}

.input {
  font-weight: 400;
  background-color: white;
  color: black;
}
.change-actions {
  display: flex;
  gap: 1rem;
}
.old {
  border-bottom: 1px solid white;
}
.input:disabled {
  outline: none;
}

.ng-invalid:not(form) {
  border-bottom: 1px solid red;
}
@media screen and (max-width: 800px) {
  .label {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto 0;
    width: 100%;
  }
}
