<div class="container">
  <p class="title">Account info</p>
  <label for="email" class="label">email :</label>
  <input class="input" id="email" type="text" readonly [(ngModel)]="email" />
  <!-- <button class="action" (click)="edit_email = !edit_email" *ngIf="!edit_email">
    <mat-icon>edit</mat-icon>
  </button>
  <button class="action" (click)="edit_email = !edit_email" *ngIf="edit_email">
    <mat-icon>save</mat-icon>
  </button> -->
  <label for="password" class="label">password :</label>
  <input
    class="input"
    id="password"
    type="password"
    [disabled]="!edit_password"
    [(ngModel)]="password"
  />

  <button
    class="action"
    *ngIf="!edit_password"
    (click)="editPassword(); edit_password = !edit_password"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    class="action"
    *ngIf="edit_password"
    (click)="savePassword(); edit_password = !edit_password"
  >
    <mat-icon>save</mat-icon>
  </button>
</div>
