.container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}
.content {
  border: 0.5px solid var(--border);
  backdrop-filter: blur(25px);
  gap: 1rem;
  margin: auto;
  margin-top: 5rem;
  width: 40vw;
  display: grid;
  align-items: center;
  grid-template-columns: 0.3fr 1.5fr 0.3fr;
  padding: 2rem 4rem;
}
.title {
  grid-row: 1;
  grid-column: 1/4;
}

.label {
  grid-column: 1;
}

.input {
  font-weight: 400;
  background-color: white;
  color: black;
  width: 100%;
}
.change-actions {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 1rem;
  grid-column: 1/4;
}
.button {
  margin-top: 1rem;
  grid-column: 3;
}
.old {
  border-bottom: 1px solid white;
}
.input:disabled {
  outline: none;
}

.ng-invalid:not(form) {
  border-bottom: 1px solid red;
}
@media screen and (max-width: 800px) {
  .label {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto 0;
    width: 100%;
  }
}
