.container {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  background-image: url("../../../../assets/4934188.jpg");

  background-position: center 20%;
  background-size: contain;
  background-size: 100%;
  background-blend-mode: luminosity;
}
.grid {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 0.2fr));

  row-gap: 7rem;
  column-gap: 3rem;
  width: 100%;
  align-items: center;

  position: relative;
}
.border {
  height: 5rem;
}
.border-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.border-top-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}
.border-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scaleY(-1);
}
.border-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(-1);
}

.shaman {
  max-height: 30rem;
  animation: float 4s infinite ease;
  filter: drop-shadow(7px 10px 10px);
}

@media screen and (max-width: 855px) {
  .grid {
    padding: 5rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
