.grid {
  background-color: rgb(0, 0, 0);
  padding: 5rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.5fr));
  row-gap: 7rem;
  column-gap: 3rem;
  background-image: url("../../../../assets/peakpx.jpg");
  background-position: top;
  background-size: cover;
  background-size: 100%;

  align-items: center;
  margin: auto;
  position: relative;
}
.grid::-webkit-scrollbar {
  display: none;
}
.border {
  height: 5rem;
}
.border-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.border-top-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}
.border-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scaleY(-1);
}
.border-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(-1);
}
.title {
  position: absolute;
  font-family: "Audiowide", sans-serif;
  top: -1rem;
  left: 20vw;
  font-size: calc(16px + 3vw);
  margin: 0;
}
// .server {
//   grid-column: 2;
// }
// .server-container {
//   grid-column: 2;
//   display: grid;
//   grid-template-columns: ;
//   height: 100%;
//   overflow-y: scroll;
// }
// .server-container::-webkit-scrollbar {
//   display: none;
// }
@media screen and (max-width: 800px) {
  .grid {
    padding: 5rem 0.5em;
  }
}
