<div class="container">
  <form class="form-container" [formGroup]="server">
    <div class="img-container" (click)="fileinput.click()">
      <img src="{{ activeImage }}" alt="" class="logo" *ngIf="activeImage" />
      <div *ngIf="!activeImage" class="action">
        Upload Logo ( jpg, jpeg, gif, png )
      </div>

      <input
        type="file"
        #fileinput
        hidden
        (change)="onFileChange($event); logoChanged = true"
      />
    </div>
    <div class="promote-container" *ngIf="serverId">
      <button
        (click)="redirectPayment()"
        class="button subscription"
        *ngIf="!is_premium"
      >
        Promote your Server
      </button>
      <a
        class="button subscription"
        *ngIf="is_premium"
        href="{{ paymentInfo?.management_url }}"
        >Manage Subscription</a
      >
    </div>
    <p class="label">name:</p>
    <input
      type="text"
      class="input"
      placeholder="name"
      formControlName="name"
    />
    <p class="label">website:</p>
    <input
      type="text"
      class="input"
      placeholder="website"
      formControlName="website"
      title="website link should include https:// like this https://wwww.example.com"
    />
    <p class="label">max level:</p>
    <input
      type="text"
      class="input"
      placeholder="max level"
      formControlName="max_level"
    />
    <p class="label">category:</p>
    <select class="input" formControlName="category">
      <option
        [defaultSelected]="!serverId"
        disabled
        *ngIf="server.controls.category.untouched && media < 1000"
        hidden
      >
        category:
      </option>
      <option value="Old School">Old School</option>
      <option value="New School">New School</option>
      <option value="Mixed">Mixed</option>
    </select>
    <p class="label">focus:</p>
    <select class="input" formControlName="focus">
      <option
        [defaultSelected]="!serverId"
        *ngIf="server.controls.focus.untouched && media < 1000"
        hidden
        disabled
      >
        focus:
      </option>
      <option value="PVE">PVE</option>
      <option value="PVP">PVP</option>
      <option value="PVM">PVM</option>
    </select>
    <p class="label">release date:</p>
    <input
      class="input"
      [type]="dateType"
      placeholder="release date"
      formControlName="release_date"
      (focus)="dateType = 'date'"
    />
    <p class="label">player base:</p>
    <input
      type="number"
      class="input"
      placeholder="player base"
      formControlName="player_base"
    />
    <p class="label lang">languages:</p>
    <div class="lang-container">
      <div class="international-container">
        <input
          type="checkbox"
          (change)="changeInternational()"
          [(ngModel)]="international"
          [ngModelOptions]="{ standalone: true }"
        />
        <p class="label international">International</p>
      </div>
      <div formArrayName="languages" class="languages">
        <div
          class="select-container"
          *ngFor="
            let language of server.controls.languages.controls;
            index as i;
            let l = last
          "
        >
          <select class="input" formControlName="{{ i }}">
            <option *ngFor="let flag of countryFlags" [value]="flag.flag">
              {{ flag.country }}
            </option>
          </select>
          <button
            class="action add minus"
            *ngIf="!l"
            (click)="removeLanguage(i)"
          >
            <mat-icon>delete-outline</mat-icon>
          </button>
          <button
            class="action add"
            (click)="addLanguage()"
            [disabled]="disableLanguages"
            *ngIf="l"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <button class="button save" (click)="saveServer()">Save</button>
  </form>
</div>
