.container {
  display: flex;
  flex-direction: column;

  gap: 5rem;
}

.form-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1em;
  position: relative;
  align-items: center;
  padding: 2rem 1rem;
  // background-color: var(--primary);
  border: 0.5px solid var(--border);
  backdrop-filter: blur(25px);
  // box-shadow: inset 19px -20px 20px 11px rgba(189, 189, 189, 0.168),
  //   inset -17px 20px 20px 8px rgba(255, 255, 255, 0.616);
  // border-radius: 16px;
}

.img-container {
  grid-column: 2;
  height: 7rem;
  display: flex;

  text-align: center;
  align-items: center;
  img {
    height: 7rem;
    // border-radius: 5px;
  }
}
.save {
  grid-column: 1/4;
  margin: 2rem 2rem auto auto;
  margin: auto;
}
.subscription {
  all: unset;

  text-align: center;
  color: var(--action);
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  animation-duration: 0.5s;
  font-weight: 900;
  &:hover {
    background-position: 60%;
    animation-duration: 0.5s;
  }
}

.label {
  grid-column: 1;
  margin: 0;
}

.input::placeholder {
  color: transparent;
}
.lang-container {
  display: flex;
  grid-column: 2/4;
  flex-direction: column;
}
.languages {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  row-gap: 0.5rem;
}
.international-container {
  display: flex;
  margin-bottom: 1rem;
}
.add {
  padding: 0.2rem 1rem;
  font-size: 24px;
}
.minus {
  color: red;
}
.select-container {
  grid-column: 1;
  display: flex;
}
.lang {
  align-self: flex-start;
}
.international {
  font-size: 1em;
  font-weight: 400;
}
.promote-container {
  border-left: 2px solid var(--border);
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  filter: grayscale(1) brightness(1);
  left: auto;
  height: 100%;
  width: fit-content;
  background-image: url("../../../../assets/hand_painted_japanese_themed_landscape_design_0507.jpg");
  background-position: 20% center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 1s;
  transform-origin: bottom;
  &:hover {
    filter: grayscale(0) brightness(1.02);
    transition-duration: 1s;
  }
}
.promote-text {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 1000px) {
  .form-container {
    margin: auto;
  }
  .input::placeholder {
    color: gray;
  }
}
@media screen and (max-width: 700px) {
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border: none;
  }
  .label {
    display: none;
  }
  .lang {
    display: block;
  }
  .international {
    display: block;
  }
  .languages {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
  .promote-container {
    position: absolute;
    width: 100%;
    z-index: 1000;
    display: flex;
    height: 5rem;
    filter: none;
    border-left: none;
    border-bottom: 1px solid var(--border);
    justify-content: flex-start;
    padding-left: 1rem;
  }
  .subscription {
    background: linear-gradient(to right, black, transparent);
    margin: 0;
    height: 100%;
  }
  .promote-text {
    display: none;
  }
}
