.container {
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  background-image: url("../../../assets/login-background.jpg");
  background-attachment: fixed;
  background-size: 110%;
  background-repeat: no-repeat;
}
.content {
  width: 40%;
  position: fixed;
  background-color: var(--primary);
  border-radius: 15px;
  padding: 1rem 3rem;
  left: 20vw;
}
.ng-invalid:not(form) {
  border-bottom: 1px solid red;
}
.ng-invalid:not(form)::placeholder {
  color: rgba(255, 0, 0, 0.825);
}
.ng-untouched:not(form) {
  border: none;
}
.ng-untouched:not(form)::placeholder {
  color: white;
}
.ng-valid:not(form) {
  border-bottom: 1px solid green;
}
.login-form {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 4rem;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.question {
  color: white;
  font-size: 10px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.question-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  background-color: var(--primary);
  height: fit-content;
  text-wrap: nowrap;
}
.action {
  font-size: 14px;
  background-color: var(--primary);
  color: var(--action);
  font-weight: 400;
  letter-spacing: 1px;
  &:hover {
    color: var(--action-active);
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
  }
}
