.container {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;

  // background-image: url("../../../assets/login-background.jpg");
  // background-attachment: fixed;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: right top;
}
.content {
  width: 40vw;
  margin: auto;
  margin-top: 15rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 1rem 3rem;
  backdrop-filter: blur(25px);
  // box-shadow: inset 19px -20px 102px 11px rgb(0 0 0 / 17%),
  //   inset -19px 20px 20px 13px rgb(255 255 255);
  border: 2px solid black;
  // border-radius: 16px;
}
.ng-invalid:not(form) {
  border: 1px solid red;
}
.ng-invalid:not(form)::placeholder {
  color: rgba(255, 0, 0, 0.825);
}

.ng-valid:not(form) {
  border: 1px solid green;
}
.ng-untouched:not(form) {
  border: 1px solid var(--border);
}
.ng-untouched:not(form)::placeholder {
  color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 0;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.action {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .container {
    background-position: 75% 50%;
  }
  .content {
    width: 100%;
    margin: auto 0.5rem;
    padding: 0.5rem;
  }
  .login-form {
    row-gap: 2rem;
    padding: 1rem;
  }
  .footer {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .login {
    width: 100%;
  }
}
