<div class="container">
  <div class="content">
    <form id="userCredentials" class="login-form" [formGroup]="loginInput">
      <!-- <label for="email" class="label">email:</label> -->
      <input
        type="email"
        placeholder="email"
        id="email"
        class="input"
        formControlName="email"
      />
      <!-- <label for="password" class="label">password:</label> -->
      <input
        type="password"
        class="input"
        id="password"
        name="password"
        placeholder="password"
        formControlName="password"
      />
    </form>
    <div class="footer">
      <button class="action" (click)="resetPassword()">
        Forgot my password !
      </button>
      <button
        (click)="login()"
        class="button login"
        [disabled]="!loginInput.valid"
      >
        Login
      </button>
    </div>
  </div>
</div>
