<div class="container">
  <div class="content">
    <p class="title login">Login</p>
    <form id="userCredentials" class="login-form" [formGroup]="loginInput">
      <input
        type="email"
        placeholder="Email*"
        id="email"
        class="input"
        formControlName="email"
      />

      <input
        type="password"
        class="input"
        name="password"
        placeholder="Password*"
        formControlName="password"
      />
    </form>
    <div class="footer">
      <a routerLink="/signup" class="button">Signup</a>
      <button class="action" (click)="resetPassword()">
        Forgot my password
      </button>
      <button (click)="login()" class="button" [disabled]="!loginInput.valid">
        Login
      </button>
    </div>
  </div>
</div>
