.container {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/login-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  width: 40%;
  margin: calc(7rem + 4vw) 1rem 1rem 12vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: 15px;
  padding: 1rem 3rem;
}
.ng-invalid:not(form) {
  border-bottom: 1px solid red;
}
.ng-invalid:not(form)::placeholder {
  color: rgba(255, 0, 0, 0.825);
}
.ng-untouched:not(form) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.592);
}
.ng-untouched:not(form)::placeholder {
  color: rgba(255, 255, 255, 0.67);
}
.ng-valid:not(form) {
  border-bottom: 1px solid green;
}
.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.login {
  margin: 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .container {
    background-position: 75% 50%;
  }
  .content {
    width: 100%;
    margin: auto 0.5rem;
    padding: 0.5rem;
  }
  .login-form {
    row-gap: 2rem;
    padding: 1rem;
  }
  .footer {
    margin-top: 5rem;
  }
}
