<a class="container" href="{{ server.website }}" target="_blank">
  <img [src]="server.banner" alt="logo" class="logo" />
  <div class="details">
    <div class="languages">
      @for( item of server.languages; track server.server_id){

      <img class="language" src="{{ item }}" alt="" />
      }
    </div>

    <div class="rating">
      <mat-icon [ngClass]="{ star: true, 'star-active': server.rating >= 5 }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': server.rating >= 4 }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': server.rating >= 3 }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': server.rating >= 2 }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': server.rating >= 1 }"
        >star_rate</mat-icon
      >
    </div>
  </div>
</a>
