<div class="hero" [@slide]="active">
  <video autoplay loop id="myVideo" class="video">
    <source src="../../../../assets/hero-banner3.mp4" type="video/mp4" />
  </video>

  <div class="text-container">
    <p class="text" *ngIf="active === 0">
      Enjoy epic battles <br />
      Join top communities
    </p>

    <div class="text" *ngIf="active === 2">
      Conquer the
      <div class="mt">&nbsp;M</div>

      <div class="number mt">2</div>
      &nbsp; realm!
    </div>
    <p class="text" *ngIf="active === 1">
      Grow Your Server <br />
      Attract more players
    </p>
  </div>
</div>
