.container {
  all: unset;
  cursor: pointer;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;

  overflow: hidden;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }
}
