.container {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
}
img {
  width: 70%;
  object-fit: contain;
  align-self: center;
  overflow: hidden;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  img {
    width: 100%;
  }
}
