.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  padding-top: 6rem;
}
.toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.promoted {
  position: relative;
  margin-bottom: 7rem;
}
.hero {
  top: 0;
}
