<div class="container" id="filter-menu" *ngIf="modalStatus">
  <div class="content">
    <p class="title">Filters</p>
    <button
      class="filter-button"
      *ngIf="orderToggle === 'Ascending'"
      (click)="orderToggle = 'Descending'"
    >
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button
      class="filter-button"
      *ngIf="orderToggle === 'Descending'"
      (click)="orderToggle = 'Ascending'"
    >
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <label for="sortby" class="label label1">Sort by</label>
    <select
      id="sortby"
      class="input select sortby"
      [(ngModel)]="sortbyValue"
      value="rating"
    >
      <option value="rating" selected>Rating</option>
      <option value="name">Name</option>
      <option value="playerBase">Player Count</option>
      <option value="releaseDate">Release Date</option>
    </select>

    <input
      type="checkbox"
      class="checkbox checkbox1"
      [(ngModel)]="languageToggle"
    />
    <label for="language" class="label">Language</label>
    <select
      [disabled]="!languageToggle"
      class="input select language"
      id="language"
      [(ngModel)]="languageValue"
    >
      <option value="Ro">Romanian</option>
      <option value="En">English</option>
      <option value="Ger">German</option>
      <option value="Tur">Turkish</option>
      <option value="Hun">Hungaryan</option>
    </select>

    <input type="checkbox" [(ngModel)]="categoryToggle" class="checkbox" />
    <label for="type" class="label">Category</label>
    <select
      id="type"
      [disabled]="!categoryToggle"
      class="input select category"
      [(ngModel)]="categoryValue"
    >
      <option value="OldSchool">Old School</option>
      <option value="Mixed">Mixed</option>
      <option value="NewSchool">New School</option>
    </select>

    <input type="checkbox" [(ngModel)]="focusToggle" class="checkbox" />
    <label for="focus" class="label">Focus</label>
    <select
      id="focus"
      [disabled]="!focusToggle"
      class="input select focus"
      [(ngModel)]="focusValue"
    >
      <option value="pvp">PVP</option>
      <option value="pve">PVE</option>
    </select>
    <button class="button cancel" (click)="closeModal()">Apply</button>
  </div>
</div>
