<div class="container" id="filter-menu" *ngIf="modalStatus">
  <div class="content">
    <div class="header">
      <p class="title">Filters</p>
    </div>
    <div class="filters-form">
      <label for="sortby">Sort by</label>
      <select id="sortby" class="input">
        <option value="Rating">Rating</option>
        <option value="Name">Name</option>
        <option value="Region">Region</option>
        <option value="CurrentEvents">CurrentEvents</option>
      </select>
    </div>
    <div class="footer">
      <button class="button">Apply</button>
      <button class="button cancel" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
