.container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  backdrop-filter: grayscale(100%);
  backdrop-filter: blur(2px);
}
.content {
  margin: auto;
  background-color: var(--primary);
}
