.container {
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  max-height: 15rem;
  position: relative;
}

.title {
  margin-left: 4vw;
  font-family: "Metin", sans-serif;
}
.arrow-right {
  grid-column: 5;
  grid-row: 1;
}
