.container {
  background-color: var(--primary);
  padding: 0.8rem 0;
  position: relative;
  z-index: 1000;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr auto 0.5fr 0.2fr;
  justify-content: center;
  align-items: center;
}
.fixed {
  position: fixed;
  top: 0;
  background-color: var(--primary);
  padding: 0.8rem 0;

  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr auto 0.5fr 0.2fr;
  justify-content: center;
  align-items: center;
}
.bottom {
  position: fixed;
  bottom: 0;
  background-color: var(--primary);
  padding: 0.8rem 0;

  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr auto 0.5fr 0.2fr;
  justify-content: center;
  align-items: center;
}
.actions-no-user {
  display: flex;
  gap: 5rem;
  position: relative;
  grid-column: 3;
  justify-content: center;
}
.actions-logged {
  display: flex;
  gap: 2rem;
  grid-column: 3;
  justify-content: flex-end;
  margin-right: 4rem;
}
.logo {
  all: unset;
  margin: 0;
}
.icon {
  font-variation-settings: "wght" 200, "opsz" 48;
  transform: scale(1.4);
}
.active {
  color: var(--action-active);
}
.logout {
  color: red;
  .icon {
    transition-duration: 0.2s;
  }
  .text {
    transition-duration: 0.2s;
  }
}
.logout:hover {
  .text {
    text-shadow: rgba(255, 0, 0, 0.548) 0px 0px 3px;
  }
  .icon {
    text-shadow: rgba(255, 0, 0, 1) 0px 0px 3px;
  }
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  .text {
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Google-thin", sans-serif;
  }
}
@media screen and (max-width: 1000px) {
}
