.container {
  background-color: rgba(0, 0, 0, 0.653);
  padding: 0;
  padding-top: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr auto 0.5fr;
  justify-content: center;
  align-items: center;
}
.actions-no-user {
  display: flex;
  gap: 3rem;
  position: relative;
  grid-column: 3;
  justify-content: center;
}
.actions-logged {
  display: flex;
  gap: 2rem;
  grid-column: 3;
  justify-content: center;
  .action {
    font-size: 1em;
  }
}
.logo {
  margin: 0;
}
.active {
  color: var(--logo);
}
@media screen and (max-width: 800px) {
  .logo {
    transform: scale(1);
  }
}
