<div class="container">
  <app-logo class="logo"></app-logo>
  <div class="actions">
    <a
      routerLink="login"
      class="action"
      *ngIf="currentRoute === '/' && !user && media > 700"
    >
      LOGIN</a
    >
    <a
      routerLink="signup"
      class="action"
      *ngIf="currentRoute === '/' && !user && media > 700"
      >SIGNUP
    </a>
    <a
      routerLink="profile/security"
      class="action"
      *ngIf="currentRoute === '/' && (user || media < 700)"
    >
      Account
    </a>
  </div>
</div>
