<div
  [ngClass]="{
    container: true,
    fixed: currentRoute && media > 700,
    bottom: media < 700
  }"
  id="toolbar"
>
  <a routerLink="/" class="logo">
    <app-logo></app-logo>
  </a>
  <div class="actions-no-user" *ngIf="!user">
    <a
      routerLink="login"
      routerLinkActive="active"
      class="link"
      *ngIf="!user && media > 700"
    >
      Login</a
    >
    <a
      routerLink="signup"
      routerLinkActive="active"
      class="link"
      *ngIf="!user && media > 700"
      >Signup
    </a>
  </div>
  <div class="actions-logged" *ngIf="user && media > 700">
    <a
      routerLink="/"
      class="link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon class="icon">home</mat-icon>
      <div class="text">home</div>
    </a>
    <a routerLink="security" class="link" routerLinkActive="active"
      ><mat-icon class="icon"> person </mat-icon>
      <div class="text">account</div>
    </a>
    <a
      routerLink="my-server"
      class="link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><mat-icon class="icon">sort</mat-icon>
      <div class="text" *ngIf="hasServer">my server</div>
      <div class="text" *ngIf="!hasServer">add a server</div></a
    >

    <!-- <a
      routerLink="profile/events"
      class="link"
      routerLinkActive="active"
      *ngIf="hasServer"
      >Share Event</a
    >
    <a routerLink="profile/tickets" class="link" routerLinkActive="active"
      >Tickets</a
    > -->
  </div>
  <button class="link logout" (click)="logout()" *ngIf="user && media > 700">
    <mat-icon class="icon"> power_settings_new</mat-icon>
    <div class="text">logout</div>
  </button>
</div>
