.container {
  top: 0;
  right: 3rem;
  position: absolute;
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: end;
  z-index: 100;
}
.action-container {
  display: flex;
  justify-content: end;
  z-index: 100;
  background-color: transparent;
}
.home {
  border-radius: 50%;
  transform: scale(2);
  &:hover {
    border-color: var(--action-active);
  }
}
.profile {
  display: none;
  transform: scale(1.5);
  gap: 0;
}
.back-top-container {
  position: fixed;
  bottom: 3rem;
  right: 0;
}
.icon {
  font-weight: 900;
}
.back-top {
  display: none;
}
.text {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

@media screen and (max-width: 900px) {
  .container {
    right: 0.5rem;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .action-container {
    display: none;
  }
}
