.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  cursor: pointer;
  div {
    display: flex;
  }
}

.m,
.number {
  font-family: "Metin", sans-serif;
  font-size: calc(24px + 2vw);
  color: var(--logo);
  margin: auto;
  // -webkit-text-stroke: 2px black;
}
// .servers {
//   font-family: "Poppins", sans-serif;
// }

.servers {
  font-family: "Permanent Marker", cursive;
  font-size: calc(16px + 0.4vw);
  margin: 0;

  color: var(--logo);
  margin-top: -10px;
  margin-left: -10px;
}
.number {
  color: red;
  // margin-left: -10px;
}
