<div class="container" (mouseover)="hover = true" (mouseleave)="hover = false">
  <div class="rating-container">
    <p class="title">{{ item.name }}</p>
    <div class="rating">
      <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 1 }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 2 }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 3 }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 4 }"
        >star_rate</mat-icon
      >
      <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 5 }"
        >star_rate</mat-icon
      >
    </div>
  </div>
  <div class="img-container">
    <img class="banner" [src]="item.banner" alt="" />
  </div>
  <div class="footer">
    <div>
      <div class="footer-item">
        <label class="label col1">School type</label>
        <p class="text col2">{{ item.category }}</p>
      </div>
      <div class="footer-item">
        <label class="label col1">Languages</label>
        <p class="text col2">{{ item.languages }}</p>
      </div>
    </div>
    <div>
      <div class="footer-item">
        <label class="label col3 row1">Focus</label>
        <p class="text col4 row1">{{ item.focus }}</p>
      </div>
      <div class="footer-item">
        <label class="label col3">Player base</label>
        <p class="text col4">{{ item.playerBase }}</p>
      </div>
    </div>
  </div>
  <div class="actions" *ngIf="hover" @slide>
    <div class="rate">
      <label class="label">Your Rating</label>
      <mat-icon
        [ngClass]="{
          star: true,
          'star-action': true,
          'star-active': rate >= 1
        }"
        (mouseover)="rate = 1"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >

      <mat-icon
        [ngClass]="{
          star: true,
          'star-active': rate >= 2,
          'star-action': true
        }"
        (mouseover)="rate = 2"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-action': true,
          'star-active': rate >= 3
        }"
        (mouseover)="rate = 3"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-action': true,
          'star-active': rate >= 4
        }"
        (mouseover)="rate = 4"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-action': true,
          'star-active': rate >= 5
        }"
        (mouseover)="rate = 5"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
    </div>
    <a href="{{ item.website }}" target="_blank" class="website action"
      >Website</a
    >
  </div>
</div>
