<div class="container" (mouseleave)="mouseLeave()" (mouseover)="hover = true">
  <div class="hover-container" id="hover" (click)="linkToWebsite(item.website)">
    <div class="img-container">
      <img class="banner" [src]="item.banner" alt="" />
    </div>
    <div class="footer">
      <div class="rating">
        <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 5 }"
          >star_rate</mat-icon
        >
        <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 4 }"
          >star_rate</mat-icon
        >
        <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 3 }"
          >star_rate</mat-icon
        >
        <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 2 }"
          >star_rate</mat-icon
        >
        <mat-icon [ngClass]="{ star: true, 'star-active': item.rating >= 1 }"
          >star_rate</mat-icon
        >
      </div>
      <p class="title">{{ item.name }}</p>

      <hr />
      <div class="details">
        <label class="label">School type</label>
        <p class="text">{{ item.category }}</p>

        <label class="label">Languages</label>
        <div class="languages">
          @for( item of item.languages; track item){

          <img class="language" src="{{ item }}" alt="" />
          }
        </div>

        <label class="label">Focus</label>
        <p class="text">{{ item.focus }}</p>

        <label class="label">Player base</label>
        <span class="text"
          >{{ item.playerBase }}
          <div *ngIf="media">&nbsp;players</div>
        </span>
      </div>
    </div>
  </div>
  <div class="actions" *ngIf="hover" @slide>
    <div class="rate">
      <label class="label show">Your Rating</label>
      <mat-icon
        [ngClass]="{
          star: true,
          'star-action': true,
          'star-active': rate >= 1
        }"
        (mouseover)="rate = 1"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >

      <mat-icon
        [ngClass]="{
          star: true,
          'star-active': rate >= 2,
          'star-action': true
        }"
        (mouseover)="rate = 2"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-action': true,
          'star-active': rate >= 3
        }"
        (mouseover)="rate = 3"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-action': true,
          'star-active': rate >= 4
        }"
        (mouseover)="rate = 4"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
      <mat-icon
        [ngClass]="{
          star: true,
          'star-action': true,
          'star-active': rate >= 5
        }"
        (mouseover)="rate = 5"
        (mouseleave)="rate = 0"
        >star_rate</mat-icon
      >
    </div>

    <a routerLink="ticket" class="action website">Create Ticket</a>
  </div>
</div>
