<app-filter-modal></app-filter-modal>
<div class="container">
  <div class="filters-container">
    <div class="actions">
      <button class="action" (click)="openModal()">FILTERS</button>
      <button class="action" (click)="reloadServers()">RESET</button>
    </div>
    <input
      type="text"
      class="input search"
      placeholder="Search..."
      [(ngModel)]="searchValue"
      (input)="searchServer($event)"
    />
  </div>
  <div class="card-grid">
    <p class="no-servers" *ngIf="noServers">! No servers found !</p>
    <div *ngFor="let item of servers">
      <app-server-card [item]="item"></app-server-card>
    </div>
  </div>
  <div class="back-top-container">
    <button class="action back-top" id="back-top" (click)="goTop()">
      <mat-icon class="icon">keyboard_double_arrow_up</mat-icon>
    </button>
  </div>
</div>
