<div class="container" id="filter-menu" *ngIf="modalStatus">
  <div class="content">
    <div class="header">
      <p class="title">Filters</p>
      <button class="exit" (click)="cancel()">X</button>
    </div>
    <p class="label">order:</p>
    <button
      class="filter-button"
      *ngIf="orderToggle === 'Ascending'"
      (click)="orderToggle = 'Descending'"
    >
      <mat-icon class="icon">arrow_downward</mat-icon>
    </button>
    <button
      class="filter-button"
      *ngIf="orderToggle === 'Descending'"
      (click)="orderToggle = 'Ascending'"
    >
      <mat-icon class="icon">arrow_upward</mat-icon>
    </button>
    <label for="sortby" class="label label1">sort by:</label>
    <select
      id="sortby"
      class="input select"
      [(ngModel)]="sortbyValue"
      value="rating"
    >
      <option value="rating" selected>Rating</option>
      <option value="name">Name</option>
      <option value="player_base">Player Count</option>
      <option value="release_date">Release Date</option>
    </select>

    <label for="language" class="label">language:</label>
    <select class="input select" id="language" [(ngModel)]="languageValue">
      <option [value]="undefined">None</option>
      <option *ngFor="let flag of countryFlags" [value]="flag.flag">
        {{ flag.country }}
      </option>
    </select>
    <label for="type" class="label">category:</label>
    <select id="type" class="input select" [(ngModel)]="categoryValue">
      <option [value]="undefined">None</option>
      <option value="Old School">Old School</option>
      <option value="Mixed">Mixed</option>
      <option value="New School">New School</option>
    </select>

    <label for="focus" class="label">focus:</label>
    <select id="focus" class="input select" [(ngModel)]="focusValue">
      <option [value]="undefined">None</option>
      <option value="PVP">PVP</option>
      <option value="PVE">PVE</option>
      <option value="PVE & PVP">PVE & PVP</option>
    </select>
    <button class="button" (click)="closeModal()">Apply</button>
  </div>
</div>
