@use "@angular/material" as mat;

$my-palette: mat.$indigo-palette;
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
  user-select: none;
}
:root {
  --primary: rgba(0, 0, 0, 0.397);
  --input: rgba(0, 0, 0, 0.566);
  --button: #558e59fa;
  --button-text: #86ffc7;
  --danger: red;
  --success: green;
  --action: #be6b1b;
  --action-active: #e4e2d5;
  --action-background: #be6a1b32;
  --action-background-active: #ece1ad44;
}

.input {
  background-color: var(--input);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 200;
  border-radius: 5px 5px 0 0;
  margin: auto;
  width: 80%;
  color: var(--action-active);
  outline: none;
  border: none;
  padding: 0.2em 0.5em;
}
input::placeholder {
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: italic;
}

.button {
  all: unset;
  margin: auto 0;
  background-color: var(--primary);
  padding: 0.7rem 2rem;
  align-self: flex-end;
  color: var(--button-text);
  background-color: var(--button);
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  text-decoration: dashed;
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 0.481);
  transition-duration: 0.3s;
}

.button:disabled {
  color: gray;
  box-shadow: none;
  background-color: var(--primary);
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;

  padding-right: 3rem;
  font-size: calc(16px + 1vw);
  color: var(--action);

  margin: 0 0 3rem 0;
}

@font-face {
  font-family: "Metin";
  src: url("assets/transfonter.org-20240121-134909/designbygny_m2.eot"); /* IE9 Compat Modes */
  src: url("assets/transfonter.org-20240121-134909/designbygny_m2.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("assets/transfonter.org-20240121-134909/designbygny_m2.woff")
      format("woff"),
    /* Modern Browsers */
      url("assets/transfonter.org-20240121-134909/designbygny_m2.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/transfonter.org-20240121-134909/designbygny_m2.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.action {
  all: unset;
  color: var(--action);
  font-size: 16px;
  font-family: "Metin", sans-serif;
  font-weight: 600;
  transition-duration: 0.5s;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    color: var(--action-active);
    border-color: var(--action-active);
  }
}
