@use "@angular/material" as mat;

$my-palette: mat.$indigo-palette;
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("./assets/wallpaper-chinese-red-black.webp");
  user-select: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  overflow-y: scroll;
}

:root {
  --primary: rgba(0, 0, 0, 0.57);
  --input: rgb(0, 0, 0);
  --button: #558e59fa;
  --button-text: #86ffc7;
  --danger: red;
  --success: green;
  --logo: #ffc757;
  --logo-active: #ffd788;
  --action: #af0008;
  --text: #b7d7f1;
  --action-active: #ff000d;
  --header-background: #565656;
  --action-background-active: #ece1ad44;
  --gold-gradient: #ff8611;
}

.input {
  background-color: var(--input);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 200;
  color: white;
  outline: none;
  border: none;
  padding: 0.2em 0.5em;
}
input::placeholder {
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: italic;
}

.select {
  border: 1px solid white;
  border-radius: 5px;
  &:focus {
    border-color: white;
  }
}
.label {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  text-wrap: nowrap;
}

.button {
  all: unset;
  cursor: pointer;
  margin: auto 0;
  background-color: var(--primary);
  padding: 0.7rem 2rem;
  color: var(--button-text);
  background-color: var(--button);
  font-family: "Audiowide", sans-serif;
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
  transition-duration: 0.3s;
  &:hover {
    background-color: #6db472fa;
  }
}

.button:disabled {
  color: black;
  box-shadow: none;
  background-color: gray;
}
.title {
  color: var(--logo);
  text-align: start;
  font-family: "Permanent Marker", sans-serif;
  font-size: calc(16px + 1vw);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0 1rem 0;
}

@font-face {
  font-family: "Metin";
  src: url("assets/transfonter.org-20240121-134909/designbygny_m2.eot"); /* IE9 Compat Modes */
  src: url("assets/transfonter.org-20240121-134909/designbygny_m2.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("assets/transfonter.org-20240121-134909/designbygny_m2.woff")
      format("woff"),
    /* Modern Browsers */
      url("assets/transfonter.org-20240121-134909/designbygny_m2.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/transfonter.org-20240121-134909/designbygny_m2.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}
.action {
  all: unset;
  color: var(--logo);
  font-size: calc(16px + 0.3vw);
  font-family: "Audiowide", sans-serif;
  font-weight: 600;
  transition-duration: 0.5s;
  text-align: center;
  cursor: pointer;
  text-wrap: nowrap;

  &:hover {
    color: var(--logo-active);
  }
}
@media screen and (max-width: 800) {
  html {
    overflow-y: auto;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade2 {
  0% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 32%,
      rgb(255 255 255 / 6%) 35%,
      rgb(255 255 255 / 0%) 55%,
      rgb(255 255 255 / 15%) 57%,
      rgb(255 255 255 / 6%) 59%,
      rgb(255 255 255 / 0%)
    );
  }
  10% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 33%,
      rgb(255 255 255 / 6%) 36%,
      rgb(255 255 255 / 0%) 56%,
      rgb(255 255 255 / 15%) 58%,
      rgb(255 255 255 / 6%) 60%,
      rgb(255 255 255 / 0%)
    );
  }
  20% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 34%,
      rgb(255 255 255 / 6%) 37%,
      rgb(255 255 255 / 0%) 57%,
      rgb(255 255 255 / 15%) 59%,
      rgb(255 255 255 / 6%) 61%,
      rgb(255 255 255 / 0%)
    );
  }
  30% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 35%,
      rgb(255 255 255 / 6%) 38%,
      rgb(255 255 255 / 0%) 58%,
      rgb(255 255 255 / 15%) 60%,
      rgb(255 255 255 / 6%) 62%,
      rgb(255 255 255 / 0%)
    );
  }
  40% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 36%,
      rgb(255 255 255 / 6%) 39%,
      rgb(255 255 255 / 0%) 59%,
      rgb(255 255 255 / 15%) 61%,
      rgb(255 255 255 / 6%) 63%,
      rgb(255 255 255 / 0%)
    );
  }
  50% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 37%,
      rgb(255 255 255 / 6%) 40%,
      rgb(255 255 255 / 0%) 60%,
      rgb(255 255 255 / 15%) 62%,
      rgb(255 255 255 / 6%) 64%,
      rgb(255 255 255 / 0%)
    );
  }
  60% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 38%,
      rgb(255 255 255 / 6%) 41%,
      rgb(255 255 255 / 0%) 61%,
      rgb(255 255 255 / 15%) 63%,
      rgb(255 255 255 / 6%) 65%,
      rgb(255 255 255 / 0%)
    );
  }
  70% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 39%,
      rgb(255 255 255 / 6%) 42%,
      rgb(255 255 255 / 0%) 62%,
      rgb(255 255 255 / 15%) 64%,
      rgb(255 255 255 / 6%) 66%,
      rgb(255 255 255 / 0%)
    );
  }
  80% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 40%,
      rgb(255 255 255 / 6%) 43%,
      rgb(255 255 255 / 0%) 63%,
      rgb(255 255 255 / 15%) 65%,
      rgb(255 255 255 / 6%) 67%,
      rgb(255 255 255 / 0%)
    );
  }
  90% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 41%,
      rgb(255 255 255 / 6%) 44%,
      rgb(255 255 255 / 0%) 64%,
      rgb(255 255 255 / 15%) 66%,
      rgb(255 255 255 / 6%) 68%,
      rgb(255 255 255 / 0%)
    );
  }
  100% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 42%,
      rgb(255 255 255 / 6%) 45%,
      rgb(255 255 255 / 0%) 65%,
      rgb(255 255 255 / 15%) 67%,
      rgb(255 255 255 / 6%) 69%,
      rgb(255 255 255 / 0%)
    );
  }
}
@keyframes fade {
  0% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 42%,
      rgb(255 255 255 / 6%) 45%,
      rgb(255 255 255 / 0%) 65%,
      rgb(255 255 255 / 15%) 67%,
      rgb(255 255 255 / 6%) 69%,
      rgb(255 255 255 / 0%)
    );
  }
  10% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 41%,
      rgb(255 255 255 / 6%) 44%,
      rgb(255 255 255 / 0%) 64%,
      rgb(255 255 255 / 15%) 66%,
      rgb(255 255 255 / 6%) 68%,
      rgb(255 255 255 / 0%)
    );
  }
  20% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 40%,
      rgb(255 255 255 / 6%) 43%,
      rgb(255 255 255 / 0%) 63%,
      rgb(255 255 255 / 15%) 65%,
      rgb(255 255 255 / 6%) 67%,
      rgb(255 255 255 / 0%)
    );
  }
  30% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 39%,
      rgb(255 255 255 / 6%) 42%,
      rgb(255 255 255 / 0%) 62%,
      rgb(255 255 255 / 15%) 64%,
      rgb(255 255 255 / 6%) 66%,
      rgb(255 255 255 / 0%)
    );
  }
  40% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 38%,
      rgb(255 255 255 / 6%) 41%,
      rgb(255 255 255 / 0%) 61%,
      rgb(255 255 255 / 15%) 63%,
      rgb(255 255 255 / 6%) 65%,
      rgb(255 255 255 / 0%)
    );
  }
  50% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 37%,
      rgb(255 255 255 / 6%) 40%,
      rgb(255 255 255 / 0%) 60%,
      rgb(255 255 255 / 15%) 62%,
      rgb(255 255 255 / 6%) 64%,
      rgb(255 255 255 / 0%)
    );
  }
  60% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 36%,
      rgb(255 255 255 / 6%) 39%,
      rgb(255 255 255 / 0%) 59%,
      rgb(255 255 255 / 15%) 61%,
      rgb(255 255 255 / 6%) 63%,
      rgb(255 255 255 / 0%)
    );
  }
  70% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 35%,
      rgb(255 255 255 / 6%) 38%,
      rgb(255 255 255 / 0%) 58%,
      rgb(255 255 255 / 15%) 60%,
      rgb(255 255 255 / 6%) 62%,
      rgb(255 255 255 / 0%)
    );
  }
  80% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 34%,
      rgb(255 255 255 / 6%) 37%,
      rgb(255 255 255 / 0%) 57%,
      rgb(255 255 255 / 15%) 59%,
      rgb(255 255 255 / 6%) 61%,
      rgb(255 255 255 / 0%)
    );
  }
  90% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 33%,
      rgb(255 255 255 / 6%) 36%,
      rgb(255 255 255 / 0%) 56%,
      rgb(255 255 255 / 15%) 58%,
      rgb(255 255 255 / 6%) 60%,
      rgb(255 255 255 / 0%)
    );
  }
  100% {
    background: linear-gradient(
      to right bottom,
      rgb(0 0 0 / 0%) 30%,
      rgb(229 229 229 / 15%) 32%,
      rgb(255 255 255 / 6%) 35%,
      rgb(255 255 255 / 0%) 55%,
      rgb(255 255 255 / 15%) 57%,
      rgb(255 255 255 / 6%) 59%,
      rgb(255 255 255 / 0%)
    );
  }
}
