.container {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  left: 0;
  height: 100%;
  background-color: black;
  background-image: url("../../../../assets/wallpaper-chinese-red-black.webp");
  padding: 3rem 2rem;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.action {
  font-family: "Permanent Marker", cursive;
  font-size: calc(16px + 0.7vw);
}
.active {
  color: var(--logo-active);
}
