<div class="container" *ngIf="media > 1000 || showSidebar">
  <app-logo routerLink="/" *ngIf="media > 1000" class="logo"></app-logo>
  <div class="actions">
    <a
      routerLink="security"
      class="action link"
      routerLinkActive="active"
      (click)="showSidebar = !showSidebar"
      >Security</a
    >
    <a
      routerLink="server"
      class="action link"
      *ngIf="userHasServer"
      routerLinkActive="active"
      (click)="showSidebar = !showSidebar"
      >My Server</a
    >
    <a
      routerLink="server"
      class="action link"
      *ngIf="!userHasServer"
      routerLinkActive="active"
      (click)="showSidebar = !showSidebar"
      >Add a server</a
    >

    <a
      routerLink="events"
      class="action link"
      routerLinkActive="active"
      *ngIf="userHasServer"
      (click)="showSidebar = !showSidebar"
      >Share Event</a
    >
    <a
      routerLink="tickets"
      class="action link"
      routerLinkActive="active"
      (click)="showSidebar = !showSidebar"
      >Tickets</a
    >
  </div>
  <button class="action link" (click)="logout()">Logout</button>
</div>
<div class="burger-container">
  <app-logo routerLink="/" *ngIf="media < 1000"></app-logo>
  <button
    class="action burger"
    (click)="showSidebar = !showSidebar"
    *ngIf="media < 1000 && !showSidebar"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    class="action burger"
    *ngIf="showSidebar && media < 1000"
    (click)="showSidebar = !showSidebar"
  >
    X
  </button>
</div>
