.container {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  left: 0;
  height: 100%;
  background-color: black;
  z-index: 1000;
  padding: 3rem 2rem;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.action {
  font-family: "Permanent Marker", cursive;
  font-size: calc(16px + 0.7vw);
}
.active {
  color: var(--logo-active);
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .link {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }
  .burger-container {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 0.5fr auto 0.2fr;
    grid-template-rows: 5rem;
    align-items: center;
    background-color: black;

    width: 100%;
    z-index: 1000;
  }
  .burger {
    grid-column: 3;
  }
}
