<div class="container">
  <a
    routerLink="profile"
    class="action profile"
    *ngIf="
      (currentRoute === '/' && user) || (media < 700 && currentRoute === '/')
    "
  >
    Profile
    <mat-icon class="icon">keyboard_arrow_down</mat-icon>
  </a>
  <a routerLink="" class="action home" *ngIf="currentRoute != '/'">
    <mat-icon class="icon">home</mat-icon>
  </a>
</div>
<div class="back-top-container">
  <button class="action back-top" id="back-top" (click)="goTop()">
    <mat-icon class="icon">arrow_upward</mat-icon> <br /><br />Top
  </button>
</div>
