.container {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;

  height: 4rem;
  z-index: 100;
}

.action-container {
  display: flex;
  justify-content: end;
  z-index: 100;
  background-color: transparent;
}

.back-top-container {
  position: fixed;
  bottom: 2rem;
  right: 0.5rem;
  z-index: 1000;
  // background-color: var(--primary);
}
.home {
  transform: scale(3);
  position: absolute;
  padding: 0.2rem 0.7rem;
  top: 2rem;
  left: 10%;
  background-color: var(--primary);
  border-radius: 0 0 10px 10px;
}
.back-top {
  display: none;
  padding: 0;
}
.back-top-active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 50%;
  border: 5px solid var(--logo);
}
.icon {
  transform: scale(3.5);
}

@media screen and (max-width: 1100px) {
  .back-top-container {
    background-color: var(--primary);
    border-radius: 15px;
  }
  .back-top {
    padding: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .container {
    right: 0.5rem;
  }

  .action-container {
    display: none;
  }
}
