.container {
  top: 0;
  right: 3rem;
  position: absolute;
  display: flex;
  justify-content: end;
  padding: 0.5rem 1rem;
  z-index: 100;
  background-color: var(--primary);
}
.action-container {
  display: flex;
  justify-content: end;
  z-index: 100;
  background-color: transparent;
}
.home {
  border-radius: 50%;
  padding: 0.5rem 0.7rem;

  &:hover {
    border-color: var(--action-active);
  }
}

.back-top-container {
  position: fixed;
  bottom: 3rem;
  right: 0;
}
.icon {
  transform: scale(2);
  font-weight: 900;
}
.back-top {
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    right: 0.5rem;
  }
}
